body {
    background-color: #040f5c;
}

h1 {
    color: white;
    text-align: center;
}

p {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    text-align: center;
}