<!DOCTYPE html>
<!--This is a comment-->
<html>
    <!--Meta tags and viewport tags go in head-->
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <meta name="author" content = "Malicious Code Team">
        <meta name="description" content = "Upload files to this site to check if they are
                                                    malicious and see a detailed analysis of
                                                    malicious content.">
        <meta name="keywords" content="malware, antivirus, anti-virus, Duke">
        <title> Malware Attachment Analysis </title>

        <!-- <link rel="stylesheet" href="styles/homestyle.css"> -->

    </head>

    <body>
        <h1> Malware Attachment Analysis </h1>

        {% if latest_question_list %}
        <ul>
        {% for output in latest_question_list %}
          <li>{{ output.type }}  {{ output.risk }} {{ output.reason }}</li>
        {% endfor %}
        </ul>
        {% else %}
        <p>No outputs are available.</p>
        {% endif %}

        <a href="/test/{{ number }}/results">Return to Results Summary </a> 
        <br>
        <a href="https://www.google.com/?client=safari" target="_blank"> Google </a>
    </body>
</html>
