<link href="../../../static/css/verdict_style.css" rel="stylesheet" type="text/css">
{% extends 'base.html' %}

{% block title %}
    Malware Analysis | Details
{% endblock %}

{% block header %}
| Details
{% endblock %}

{% block content %}

<br>


        {% if results %}
<p class="intro_paragraph"> The following Yara rules were flagged for your submission: </p>
        <ul class="yara_list">
        {% for output in results %}
          <li>{{ output }}  </li>
        {% endfor %}
        </ul>
        {% else %}
        <p class="intro_paragraph">No Yara rules were flagged for your submission.</p>
        {% endif %}

{% if VTCount != -1 %}
<div class="intro_paragraph">
<p class="intro_paragraph"> The number of VirusTotal tests flagged by your submission is: {{ VTCount }} </p>
	</div>
<br>
<a class="button6" href="{{ vtlink }}" target="_blank">View Full VirusTotal Report</a>
{% endif %}

        <a class="button6" href="/test/{{ number }}/results">Return to Results Summary </a>

{% endblock %}
