<link href="../../../static/css/verdict_style.css" rel="stylesheet" type="text/css">
{% extends 'base.html' %}
<!--This is a comment-->
{% block content %}

<br>


    <article class="intro_header">
        <p style="display: inline-block;">Got a suspicious email or file? </p>
    </article>



    <article class="intro_paragraph">
        <p>Click below to analyze emails and attachments for potential dangerous malware. Be careful not to open any suspicious files on your computer. This site analyzes files and will tell you if they are dangerous or safe.</p>
    </article>

    <article class="intro_paragraph">
        <p>You can upload an email (.eml), PDF (.pdf), or Microsoft Office file on this website. If you upload an email, be sure to upload any attachments as well so they can also be scanned.</p>
    </article>



    <form class="about" action="/test/save_form/" method="post" enctype="multipart/form-data">

        <p class="button6">{% csrf_token %}{{ form }}</p>
        <input type="submit" value="Submit" class="button6" style="height:40px; font-weight:400;">
    </form>

{% endblock %}
