body {
    margin: 0;
    background-color: #f5f5f5;
    background-image: url(blkmarket-prism-simple.jpg);
    background-repeat: no-repeat;
      background-position: right center;
      background-attachment: fixed;
}



.button6{
  background-color: #3680DF;
  box-sizing: border-box;
  color: white;
  padding: 0.7em 1.4em;;
  text-decoration: none;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  cursor: pointer;
  font-family:'Roboto',sans-serif;
  font-weight: 400;
  margin:0 0.3em 0.3em 0;
  text-transform:uppercase;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
    position:relative;
  display:inline-block;
}



.button6:active{
    top: 0.1em;
    background-color: #081B5B;
}



.v-header {
    background:  #012169 url(https://assets.styleguide.duke.edu/cdn/images/wordmark/duke_wordmark-white.svg) center left;
    background-repeat: no-repeat;
    background-size: 100px 34px;
    background-position-x: 20px;
    vertical-align: left;
    height: 68px;
    width: 100%;
}



.about {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    background-color: transparent;
    border-radius: 25px;
    font-size: 100%;
}



.results_buttons {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: transparent;
    border-radius: 15px;
    font-size: 100%;
}



.yara_list {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
    display: block;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 100%;
    width: 50%
}



.intro_header{
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    color: #FFFFFF;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40;
}



.intro_paragraph{
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    color: #FFFFFF;
    align-content: center;
    margin: auto;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 200;
}

.loading_info{
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    color: #FFFFFF;
    align-content: center;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 200;
}



.verdict {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 50px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    border-radius: 15px;
    font-size: 25px;
    background-color: white;
}



.results_text{
    color: white;
    font-siz: 20px;
    font-family:'Roboto',sans-serif;
    text-align: center;
    margin: 10px;
}



#site-name {
    font: 'Open Sans';
    display: table-cell;
    vertical-align: bottom;
    color: #fff;
    padding-top: 20px;
    padding-left: 128px;
    letter-spacing: .05em;
}



.alert {
  padding: 15px;
  background-color: limegreen;
  color: white;
  margin-left: 100px;
    margin-right: 100px;
  width: 100%;
    height: 50px;
  display: inline-block;
  font-size: 100%;
  border-radius: 9px;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
}



/* The close button for the alert*/
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}



/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}



.clean{
  background-image: url('/unnamed.png');
  background-repeat: no-repeat;
  color: green;
  font: 25px Arial, sans-serif;
}



.dangerous{
  background-image: url('307-3077324_x-mark-cross-computer-icons-clip-art-red-cross-icon.jpg');
  background-repeat: no-repeat;
  color: red;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}