{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name="author" content = "Malicious Code Team">
    <meta name="description" content = "Web App for the Duke Community which scans files for malware.">
    <meta name="keywords" content="malware, antivirus, anti-virus, Duke">
    <title>
        {% block title %}
        Malware Attachment Analysis
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/verdict_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700" rel="stylesheet">


</head>

<body>

<header class="v-header" role="banner">

    <div id="site-name">
        <h1>
            {% block header %}
            | Malware Attachment Analysis
            {% endblock %}
        </h1>
    </div>

</header>



</body>

    {% block content %}
        replace me
    {% endblock %}

</html>
