<html>

<head>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name="author" content = "Malicious Code Team">
    <meta name="description" content = "Analysis found signs of malware">
    <meta name="keywords" content="malware, antivirus, anti-virus, Duke">
    <title> Malware Attachment Analysis Dangerous Verdict </title>
    <link rel="stylesheet" href="styles/verdict_style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">


</head>

<body>

<header class="v-header" role="banner">

    <div id="site-name">
        <h1> | Malware Attachment Analysis </h1>
    </div>


</header>



</body>



</html>